/* color the game */

.background    { background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(64, 64, 64); }

.game {
overflow: hidden;
max-width: 600px;
max-height: 450px;
position: relative;
}

.lost .player {
background: rgb(160, 64, 64);
}
.won .player {
box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

/* for html */
.body {
  display: grid;
  height: 100vh;
  width: 100vh;
  margin: 0;
  overflow: hidden;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 5em;
  width: 5em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-top: calc(50vh - 1em);
}

.title {
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.title:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}

/* Intro text */
.rulesTitle {
  font-size: 50px;
  color: purple;
}

.intro {
  font-size: 20px;
}

ol li {
  counter-increment: li;
  display: list-item;
}

ol li::marker {
  display: list-item;
  content: "#" counter(li) " ";
  color: lightpink;
  font-weight: bold;
}

/* for the spining text */

/*
*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 500;
}
*/

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.wrapper {
  box-sizing: content-box;
  height: 70px;
  display: flex;
}

.words {
  overflow: hidden;
}

span {
  display: block;
  height: 100%;
  padding-left: 10px;
  color: #BE9FDD;
  animation: spin_words 6s infinite;
}

@keyframes spin_words {
  10%{
    transform: translateY(-112%);
  }
  25%{
    transform: translateY(-100%);
  }
  35%{
    transform: translateY(-212%);
  }
  50%{
    transform: translateY(-200%);
  }
  60%{
    transform: translateY(-312%);
  }
  75%{
    transform: translateY(-300%);
  }
  85%{
    transform: translateY(-412%);
  }
  100%{
    transform: translateY(-400%);
  }
}